@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Viga&display=swap");
@import "tailwindcss";

@theme {
  --color-green: #688e26;
  --color-red-orange: #f44708;
  --color-dark-red: #a10702;
  --color-yellow: #faa613;

  --font-heading: "Viga", sans-serif;
  --font-body: "Roboto Mono", sans-serif;
}

body {
  font-family: var(--font-body);
}

html {
  scroll-behavior: smooth;
}

@utility heading {
  font-family: var(--font-heading);
  font-size: 4rem;
  line-height: 4rem;
}

@utility heading-small {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  line-height: 3rem;
}

@utility heading2 {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2.25rem;
}

@utility heading2-small {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

@utility button-square {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility button-square-small {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-white {
  border-color: white;
  color: white;
}

.button-white:hover {
  background-color: white;
  color: var(--color-green);
}

.button-green {
  border-color: var(--color-green);
  color: var(--color-green);
}

.button-green:hover {
  border-color: hsl(82, 58%, 30%);
}

.button-green-fill {
  border-color: var(--color-green);
  background-color: var(--color-green);
  color: #fff;
}

.button-green-fill:hover {
  border-color: hsl(82, 58%, 30%);
  background-color: hsl(82, 58%, 30%);
}

@utility section {
  padding: 4rem 6rem;
}

@utility section-small {
  padding: 3rem 2rem;
}

.error-text {
  padding: 4rem 0;
  text-align: center;
  color: var(--color-dark-red);
}
